@using WebAppAspNetMvcDatabaseQuery.Models
@model Client

<h3>Клиент</h3>

@using (Html.BeginForm("Edit", "Clients", FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.EditorForModel()

    <input type="submit" value="Сохранить" />
    @Html.ActionLink("Отменить", "Index", "Clients")
}